@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-pic {
  height: 30vmin;
  pointer-events: none;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  color: white;
}

.App-logoo {
  height: 25px;
  pointer-events: none;
  display:flex;
}

.link {
  color:white;
}

h2 {
  font-size: 20px;
}

.idCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
